{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="mt-header">
        <h1 class="font_Gogh">Наши ТОРТЫ</h1>
    </header>

    <main>
    <ul class="cake__list">
        <li class="cake__card cake__bg_pink">
            <div class="cake__badge">1</div>
            <h2 class="cake_pink">Шоколадный торт</h2>
            <p>Нежный шоколадный торт с кремом.</p>
            <a href="#step3" class="btn text-white rounded-pill px-5 mt-3 shadow-none cake__button cake__bg_pink">Заказать</a>
        </li>
        <li class="cake__card cake__bg_blue">
            <div class="cake__badge">2</div>
            <h2 class="cake_blue">Торт "Наполеон"</h2>
            <p>Классический торт с кремом и слоеным тестом.</p>
            <a href="#step3" class="btn text-white rounded-pill px-5 mt-3 shadow-none cake__button cake__bg_blue">Заказать</a>
        </li>
        <li class="cake__card cake__bg_pink">
            <div class="cake__badge">3</div>
            <h2 class="cake_pink">Фруктовый торт</h2>
            <p>Легкий торт с фруктами и йогуртовым кремом.</p>
            <a href="#step3" class="btn text-white rounded-pill px-5 mt-3 shadow-none cake__button cake__bg_pink">Заказать</a>
        </li>
        <li class="cake__card cake__bg_blue">
            <div class="cake__badge">4</div>
            <h2 class="cake_blue">Торт "Медовик"</h2>
            <p>Сладкий медовый торт с кремом.</p>
            <a href="#step3" class="btn text-white rounded-pill px-5 mt-3 shadow-none cake__button cake__bg_blue">Заказать</a>
        </li>
    </ul>
</main>

{% endblock %}